/*BARRE DE NAVIGATION*/
#validcom span {
  color: red;
  font-weight: bold;
}

/*Titre d'article du index*/
.title-article {
  list-style-type: none;
}

.title-article h1>a {
  color: grey;
  text-decoration: none;
}
#noarticle {
  margin-left: 30px;
}
/*FORM LOGIN*/
#username, #password, #_submit {
  display: block;
  margin: auto;
}
#login {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
label {
  padding : 10px;
}
.hidden {
  display: none;
}
#edit {
  margin-left: 20px;
}

/*AFFICHAGE DES ARTICLES OU COMMENTAIRES*/
#contenttitle {
  font-family: 'Lobster Two', cursive;
}
#articlecomment {
  margin: 30px 100px;
  line-height: 30px;
  text-align: justify;
}

li#validcom {
  color: red;
}
