/*Titre d'article du index*/
.title-article {
  list-style-type: none;
}

.title-article h1>a {
  color: grey;
  text-decoration: none;
}
/*FORM LOGIN*/
#username, #password, #_submit {
  display: block;
  margin: auto;
}
#login {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
label {
  padding : 10px;
}
.hidden {
  display: none;
}
