{% extends "HomeBundle:Display:layout.html.twig" %}

{% block body %}

  {% for article in listArticles %}
    <section>
      <h1>{{ article['title'] }}</h1>
      <p>{{ article['content']|raw }}<p>
      <small>Publier le : {{ article['published_at']|date('d-m-Y') }}</small>
      <p>Nombre de commentaires : {{ article['nb_comments'] }}</p>
    </section>
  {% include "HomeBundle:Display:button.html.twig" %}
  {% endfor %}

{% endblock %}
