{% extends "HomeBundle:Display:layout.html.twig" %}

{% block body %}

  {% for article in listArticles %}
    <section>
      <h1 id="titre-article">{{ article['title'] }}</h1>
      <p id="content-article">{{ article['content']|raw }}<p>
      <p class="info-article">Publier le : {{ article['published_at']|date('d-m-Y') }}</p>
      <p class="info-article nb-comments">Nombre de commentaires : {{ article['nb_comments'] }}</p>
    </section>
  <p id="show-article">{% include "HomeBundle:Display:button.html.twig" %}</p>
  {% endfor %}

{% endblock %}
