{% extends "home.html.twig" %}

{% block body %}
  <section id="description-books">
    <article class="description-book">
      <h2>Nocturne au Louvre</h2>
      <img src="{{ asset('assets/public/images/Nocturne-au-Louvre.jpg') }}" alt="Photo de Nocturne au Louvre">
      <p><a href="http://livre-broche.fr/">Broché</a> 31 mai 2016</p>
			<p>de Brigitte Joseph Jeanneney (Auteur)</p>
      <h3>Résumé</h3>
      <p>Nicolas Lesur vient d’être nommé directeur de la sécurité au musée du Louvre.
Des événements étranges mettent en danger les œuvres d’art. La rumeur enfle et la peur grandit. L’atmosphère est oppressante, fantastique, surtout lorsque la nuit est tombée
et que le musée est désert. Nicolas mène seul l’enquête.
Saura-t-il démasquer le coupable, dont les mobiles semblent insaisissables ? Par sa modestie,
par sa détermination et son sang-froid, Nicolas, sorte de Tintin égaré dans les brumes
de l’univers de Belphégor finira-t-il, après maintes surprises et de nombreux retournements
de situation, par résoudre l'énigme proposée au lecteur ?</p>
      <p><a href="http://www.cohen-cohen.fr/lire-une-extrait-de-nocturne-au-louvre"><i class="fa fa-arrow-right" aria-hidden="true"></i> Lire un extrait</a></p>
      <p><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i> Lire des critiques</a></p>
      <a class="btn" href="https://www.amazon.fr/Nocturne-au-louvre-Brigitte-Joseph-jeanneney/dp/2367490422/ref=sr_1_1?ie=UTF8&qid=1504106181&sr=8-1&keywords=brigitte+joseph+jeanneney">Acheter ce livre</a>
    </article>

    <article class="descriptionbook">
      <h2>Lignages</h2>
      <img src="{{ asset('assets/public/images/lignages.jpg') }}" alt="Photo de Lignages">
      <p class="editor"><a href="http://www.triartis.fr/livre-71-Lignages.html">TriArtis</a> 31 mai 2016</p>
			<p>de Brigitte Joseph Jeanneney (Auteur)</p>
      <h3 class="editor">Résumé</h3>
      <p>Un fil rouge  relie les séquences de nos vies ordinaires.</p<

      <p>Ce fil - invisible le plus souvent - tisse les liens indéfectibles qui nous rattachent à nos ascendants, descendants, fratries et semblables. Ceux qui nous déterminent. Transmission, filiation, partage se font reconnaître ou ressentir. Parfois trahir. Parfois oublier.
Mais dans le sept nouvelles, le lignage s’écrit toujours à l’encre indélébile…</p>
      <p class="btn-infos"><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i> Lire un extrait</a></p>
      <p class="btn-infos"><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i> Lire des critiques</a></p>
      <p><a class="btn" href="https://www.amazon.fr/Lignages-Brigitte-Jeanneney/dp/2916724702/ref=sr_1_fkmr0_2?ie=UTF8&qid=1504106181&sr=8-2-fkmr0&keywords=brigitte+joseph+jeanneney">Acheter ce livre</a></p>
    </article>

    <article class="description-book">
      <h2>Ca s'appelle aimé</h2>
      <img src="{{ asset('assets/public/images/breves.jpg') }}" alt="Photo de Nocturne au Louvre">
      <p class="editor"><a href="http://www.triartis.fr/livre-60-Ca_s_appelle_aimer.html">TriArtis</a> 31 mai 2016</p>
			<p>de Brigitte Joseph Jeanneney (Auteur)</p>
      <h3 class="editor">Résumé</h3>
      <p>Huit nouvelles sur le thème de l’amour...</p>
      <p>L'amour est là. Tantôt farce, tantôt drame, il se joue de l'âme humaine et des corps épanouis, vieillis ou asservis.
L’échappée d’un chevreuil, un libertin sous l’averse poussant la porte d’un estaminet, une femme égarée dans un supermarché, la caresse d'un pinceau sur la toile, l’écho amorti d’une sonate, l'amour se faufile et surgit là où il lui plaît. Amour enfoui, muet, tenace, féroce, brusqué, gauche, délié, candide, inquiet... Amours de jeunesse ou de toute une vie, amours féroces ou dévoyées, amours secrètes.</p>
</p>Autant de figures de l’amour contées de manière gaie ou tragique, dans une infinie variété de styles.</p>
      <p><a href="http://www.cohen-cohen.fr/lire-une-extrait-de-nocturne-au-louvre"><i class="fa fa-arrow-right" aria-hidden="true"></i> Lire un extrait</a></p>
      <p><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i> Lire des critiques</a></p>
      <a class="btn" href="https://www.amazon.fr/Ca-sappelle-aimer-Brigitte-Joseph-Jeanneney/dp/2916724621/ref=sr_1_3?ie=UTF8&qid=1504106181&sr=8-3&keywords=brigitte+joseph+jeanneney">Acheter ce livre</a>
    </article>

    <article class="descriptionbook">
      <h2>Autour du malade: La famille, le médecin et la psychologue</h2>
      <img src="{{ asset('assets/public/images/malade.jpg') }}" alt="Photo de Nocturne au Louvre">
      <p class="editor"><a href="https://www.odilejacob.fr/catalogue/medecine/oncologie/autour-du-malade_9782738112002.php">Odile Jacob</a> 31 mai 2016</p>
			<p>de Brigitte Joseph Jeanneney (Auteur)</p>
      <h3 class="editor">Résumé</h3>
      <p>Trois femmes nous font partager leurs interrogations, leurs doutes, mais aussi leurs certitudes face à la maladie : faut-il dire toute la vérité ? Faut-il parler différemment à la famille et au malade ? Comment vivre au jour le jour ? Faut-il se préparer au deuil ? Comment se dire au revoir ? Un livre spontané et émouvant pour aider ceux qui doivent affronter la maladie à garder l’espoir et à voir plus clair en eux. Brigitte Joseph-Jeanneney est l’épouse du malade.</p>

      <p>Jeanne-Marie Bréchot est pneumologue-cancérologue thoracique à l’Hôtel-Dieu de Paris.</p>

      <p>Martine Ruszniewski est psychanalyste, psychologue dans l’unité mobile d’accompagnement et de soins palliatifs à l’hôpital de la Pitié-Salpêtrière.</p>
      <p><a href="http://www.cohen-cohen.fr/lire-une-extrait-de-nocturne-au-louvre"><i class="fa fa-arrow-right" aria-hidden="true"></i> Lire un extrait</a></p>
      <p><a href="#"><i class="fa fa-arrow-right" aria-hidden="true"></i> Lire des critiques</a></p>
      <p><a class="btn" href="https://www.amazon.fr/Nocturne-au-louvre-Brigitte-Joseph-jeanneney/dp/2367490422/ref=sr_1_1?ie=UTF8&qid=1504106181&sr=8-1&keywords=brigitte+joseph+jeanneney">Acheter ce livre</a></p>
    </article>
  </section>
{% endblock %}
