{% extends "AdminBundle:Article:layout.html.twig" %}

{% block body %}

  <h1>{{ article.getTitle() }}</h1>
  <p>{{ article.getContent() }}<p>
  <p>Catégorie : {{ article.getCategory() }}<p>
  <small>Créer le : {{ article.getCreatedAt()|date('d/m/Y') }}</small>

{% endblock %}
