{% extends "admin.html.twig" %}

{% block body %}
    <h2 id="edit">
        <i class="fa fa-pencil"></i>
        Editer un article
    </h2>

    <div class="well">
        {{ form(form) | trans | raw }}
    </div>

    <div id="s3Hash" data-cred="{{ s3Hash | json_encode() }}"></div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            var creds = $('#s3Hash').data('cred');

            $('textarea').froalaEditor({
                imageUploadToS3: creds
            })
        });
    </script>
{% endblock %}
