{% extends "AdminBundle:Article:layout.html.twig" %}

{% block body %}
  <ul>
      {% for article in listArticles %}
        <li>
            <input type="hidden" name="_method" value="DELETE" />
            {{ article.getTitle() }}
            <a href="{{ path('admin_edit_article', { 'id' : article.id }) }}">Modifier</a>
            <a href="{{ path('admin_delete_article', { 'id' : article.id }) }}">Supprimer</a>
            <a href="{{ path('admin_publish_article', { 'id' : article.id }) }}">Publier</a>

        </li>
      {% endfor %}
  </ul>
{% endblock %}
