{% extends "AdminBundle:Article:layout.html.twig" %}

{% block body %}
    <h2 id="edit"><i class="fa fa-pencil"></i> Création d'un article</h2>

  <div class="well">
    {{ form(form)|trans|raw }}
  </div>


<script> $(function() { $('textarea').froalaEditor() }); </script>

{% endblock %}
