{% extends "AdminBundle:Default:layout.html.twig" %}

{% block body %}
  <ul>
      {% for article in listArticles %}
        <li>{{ article.getContent() }}</li>
      {% endfor %}
  </ul>
{% endblock %}
