{% extends "AdminBundle:Default:layout.html.twig" %}

{% block body %}
  <ul>
      {% for article in listArticles %}
        <li>{{ article.getTitle() }} <button type="submit">Modifier</button><a href="{{ path('admin_deletepage', { 'id' : article.id }) }}">Supprimer</a>
      {% endfor %}
  </ul>
{% endblock %}
