<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="style.css" />
		<title>Brigitte Joseph-Jeanneney</title>
	</head>

	<body>

		<header class="container">
			<img src="" alt="Photo de Brigitte Joseph-Jeanneney">
			<h1>Brigitte Joseph-Jeanneney</h1>
			<p>Écrivaine</p>

			<nav>
				<a href="#">Ma vie</a>
				<a href="#">Mes écrits</a>
				<a href="#">En images</a>
				<a href="#">On en a parlé...</a>
				<a href="#">Actualités</a>
			</nav>
		</header>

		<main>
			{% block body %}
		    {% endblock %}
    	</main>

    	<footer>
    		<section id="info">
				<article>
					<small><a href="https://www.fnac.com/SearchResult/ResultList.aspx?SCat=0%211&Search=brigitte+joseph-janneney&sft=1&sa=0">Fnac</a></small>
				</article>
				<article>
					<small><a href="https://www.amazon.fr/s/ref=nb_sb_noss?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=brigitte+joseph-jeanneney">Amazon</a></small>
				</article>
				<article>
					<small><a href="https://www.babelio.com/resrecherche.php">Babelio</a></small>
				</article>
			</section>

			<section id="contact">
				<p><a href="mailto:brigitte.joseph.jeanneney@gmail.com">Contactez-moi !</p>
			</section>

			<small>
				Brigitte Joseph-Jeanneney © 2017 | Écrivaine
			</small>
    	</footer>

	</body>
</html>