{% extends "AdminBundle:Article:layout.html.twig" %}

{% block body %}

  <section id="articlecomment">
    <h1 id="contenttitle">{{ comment.getName() }}</h1>
    <p>{{ comment.getContent() | raw }}<p>
    <small>Créé le : {{ comment.getPublishedAt()|date('d/m/Y') }}</small>
  </section>

{% endblock %}
